[Unit]
Description=docker-compose %i service
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
WorkingDirectory=/etc/docker-compose/%i
Type=oneshot
RemainAfterExit=yes

ExecStartPre=-docker compose pull --quiet
ExecStart=docker compose up -d --remove-orphans

ExecStop=docker compose down --remove-orphans

ExecReload=docker compose pull --quiet
ExecReload=docker compose up -d

[Install]
WantedBy=multi-user.target
